#flotBasic {
    min-height: 670px;
}

#flotRealTime {
    min-height: 665px;
}

#flotBasic img {
    max-width: 720px;
}

#flotBasic {
    font-size: 16px;
    font-weight: bold;
    padding: 0;
}

h3.figure-right {
    color: #2e353e;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

h4.right-field {
    margin-top: 30px;
}

h4.text {
    margin-top: 15px;
}

#mytextarea {
    min-height: 120px;
}

.flexible {
    display:flex;
    justify-content:space-between;
}

span.from-pair {
    width: 135px;
}

select.color {
    margin-top: 12px;
    max-width: 150px;
    min-width: 125px;
    color: #777;
}

button {
    border-radius: 8px;
    padding: 3px;
}

button.right-field {
    border-radius: 8px !important;
    font-size: 18px;
}

button.savechanges {
    margin-top: 40px !important;
    height: 60px;
    background-color: rgb(77, 78, 76);
    font-size: 20px;
    border: 3px solid black;
    border-radius: 8px !important;
}